<style>
  #title-nickname,
  #title-firstname,
  #title-lastname {
    position: absolute;
  }
  .title-slide-in {
    animation-name: slidein;
    animation-duration: 1s;
  }
  .title-slide-out {
    animation-name: slideout;
    animation-duration: 1s;
  }
  .title-stay-left {
    transform: translateX(55px);
  }
  .title-stay-right {
    transform: translateX(100px);
  }
  .title-slide-left {
    animation-name: slideleft;
    animation-duration: 1s;
  }
  .title-slide-right {
    animation-name: slideright;
    animation-duration: 1s;
  }
  @keyframes slideleft {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(55px);
    }
  }
  @keyframes slideright {
    from {
      transform: translateX(55px);
    }
    to {
      transform: translateX(100px);
    }
  }
  @keyframes slidein {
    from {
      bottom: 100%;
      opacity: 0;
    }
    to {
      bottom: 3%;
      opacity: 1;
    }
  }
  @keyframes slideout {
    from {
      top: 0%;
      opacity: 1;
    }
    to {
      top: 100%;
      opacity: 0;
    }
  }
</style>
<span id="title-firstname">{{site.title.firstname}}</span>
<span id="title-nickname">{{site.title.nickname}}</span>
<span id="title-lastname">{{site.title.lastname}}</span>
<script>
  (() => {
    const lastname = document.getElementById("title-lastname");
    const names = [
      document.getElementById("title-firstname"),
      document.getElementById("title-nickname"),
    ];
    const positions = ['right', 'left'];

    names[1].setAttribute("style", "display: none");
    lastname.className = "title-stay-right";

    const slidein = (element) => {
      element.setAttribute("style", "");
      element.className = "title-slide-in";
    };

    const slideout = (element) => {
      element.className = "title-slide-out";
      setTimeout(() => element.setAttribute("style", "display: none"), 500);
    };

    const slideandstay = (position) =>
      `title-slide-${position} title-stay-${position}`;

    let counter = 0;
    const animate = () => {
      counter = (counter + 1) % 2;
      slidein(names[counter]);
      slideout(names[(counter + 1) % 2]);
      lastname.className = slideandstay(positions[counter % 2]);
    };

    setInterval(animate, 10000);
  })();
</script>
