<div class="profile-container">
  <img class="my-photo" src="assets/images/me.jpeg" />
  <div style="display: flex; flex-direction: row; justify-content: center; padding-top: 15px">
    {%- include components/link-button.html
      link="http://chanwutk.github.io/resume/resume.pdf"
      text="Here is my Resume!"
    -%}
  </div>

  <!-- {%- assign social = site.minima.social_links -%}
  <ul class="social-media-list">
    {%- include components/social-link.html
      base_url="https://github.com/"
      id=social.github
      social="github"
    -%}
    {%- include components/social-link.html
      base_url="https://linkedin.com/in/"
      id=social.linkedin
      social="linkedin"
    -%}
    {%- include components/social-link.html
      base_url="https://twitter.com/"
      id=social.twitter
      social="twitter"
    -%}
  </ul> -->
</div>