// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

img.my-photo {
  border-radius: 7%;
  width: 200px;
  margin: 0px 30px 30px 0px;
}