---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1 class="page-heading">Hi, welcome to my personal page! &#127881;</h1>
  <div class="intro-content">
    <div class="profile-container">
      <img class="my-photo" src="assets/images/me.jpeg" />
      <div style="display: flex; flex-direction: row; justify-content: center; padding-top: 15px; padding-bottom: 15px">
        {%- include components/link-button.html
          link="http://chanwutk.github.io/resume/resume.pdf"
          text="Here is my Resume!"
        -%}
      </div>
    </div>
    <div>
      {{ content }}
    </div>
  </div>

  <br/>
  <h2 id="publications">Publications</h2>
  <div class="home-publications">
    {%- assign publications = site.publications | sort: 'priority' -%}
    {%- for publication in publications -%}
      {%- include components/publication-thumbnail.html publication=publication -%}
    {%- endfor -%}
  </div>

  <br/>
  <h2 id="projects">Projects and Contributions</h2>
  <div class="home-projects">
    {%- assign projects = site.projects | sort: 'priority' -%}
    {%- for project in projects -%}
      {%- include components/project-thumbnail.html project=project -%}
    {%- endfor -%}
  </div>

  <br/>
  <h2 id="experiences">Working Experiences</h2>
  <ul class="post-list">
    {%- assign exps_ends = site.experiences | group_by: 'end' | sort: 'end' | reverse -%}
    {%- for exps_end in exps_ends -%}
      {%- assign exps = exps_end.items | sort: 'start' | reverse -%}
      {%- for exp in exps -%}
        {%- include components/experience-card.html exp=exp -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>

  <script>
    const TITLES_WITH_EMOJIS = false;
    if (TITLES_WITH_EMOJIS) {
      const addEmoji = (id, emojis) => document.getElementById(id).innerHTML += ' ' + emojis[Math.floor(Math.random() * emojis.length)];
      addEmoji('projects', ['&#10024;', '&#127872;', '&#127775;', '&#128293;', '&#128161;'])
      addEmoji('experiences', ['&#128084;', '&#128188;', '&#128119;'])
      // addEmoji('publications', ['&#128221;', '&#128220;'])
      addEmoji('education', ['&#128214;', '&#127890;'])
      addEmoji('skill', ['&#128295;', '&#128296;'])
    }
  </script>
</div>
